@model ChosenType

@{
    ViewData["Title"] = "Přidat pesa";
}
<div class="titulpridani">
    <h2>@ViewData["Title"]</h2>
</div>

<form asp-action="ChooseType" method="post" class="choose">
    <div class="mb-3">
        <label class="form-label" asp-for="Type"> Zvolte typ </label>
        <select class="form-control" asp-for="Type">
            <option value="@PetType.Dog"> Pes </option>
            <option value="@PetType.Cat"> Kočka </option>
            <option value="@PetType.Error"> Králík </option>
        </select>

    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>


@section Styles {
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />

}
