@model Pet

@{
    ViewData["Title"] = "Pet - Create";
}
<h1>@ViewData["Title"]</h1>

@* prej jiný create *@
<form asp-action="Create" method="post"> 
    <div class="mb-3">
        <label class="form-label" asp-for="Name"> Name </label>
        <input class="form-control" asp-for="Name">

        <label class="form-label" asp-for="Birth"> Birth </label>
        <input class="form-control" asp-for="Birth">

        <label class="form-label" asp-for="Sex"> Sex </label>
        <input class="form-control" asp-for="Sex">

        <label class="form-label" asp-for="Info"> Info </label>
        <input class="form-control" asp-for="Info">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
