@model PetFile

@{
    ViewData["Title"] = "[" + Model.PetObj.Id + "] " + Model.PetObj.Name + " edit";
}
<div class="titulEdit">
    <h2>@ViewData["Title"]</h2>
</div>

<form asp-action="Edit" method="post" class="petEdit" enctype="multipart/form-data" id="form">
    <div class="mb-3 inputy">
        <input class="form-control " asp-for="PetObj.Id" hidden>

        <label class="form-label" asp-for="PetObj.Name"> Jméno: </label>
        <input class="form-control" asp-for="PetObj.Name" required>

        <label class="form-label" asp-for="PetObj.Birth"> Narození: </label>
        <input type="date" class="form-control" asp-for="PetObj.Birth">

        <label class="form-label" asp-for="PetObj.InShelterSince"> V utulku od: </label>
        <input type="date" class="form-control" asp-for="PetObj.InShelterSince" required>

        <label class="form-label" asp-for="PetObj.Sex"> Pohlaví: </label>
        <input class="form-control" asp-for="PetObj.Sex">

        <label class="form-label" asp-for="PetObj.Info"> Informace: </label>
        @* <input class="form-control" asp-for="PetObj.Info"> *@
        <textarea asp-for="PetObj.Info" class="form-control textar"></textarea>

        <label class="form-label" asp-for="PetObj.BreedId"> Plemeno: </label>
        <div class="sel">
            <select class="sel-control" asp-for="PetObj.BreedId" asp-items="@(new SelectList(ViewBag.Breeds, "Id", "Name"))"
                    onfocus="this.size=@Math.Min(ViewBag.Breeds.Count, 3);" onblur="this.size=0" onchange="this.size=1; this.blur()"></select>
        </div>

        <label class="form-label" asp-for="PetObj.SizeId"> Velikost: </label>
        <div class="sel">
            <select class="sel-control" asp-for="PetObj.SizeId" asp-items="@(new SelectList(ViewBag.Sizes, "Id", "Name"))"
                    onfocus="this.size=@Math.Min(ViewBag.Sizes.Count, 3);" onblur="this.size=0" onchange="this.size=1; this.blur()"></select>
        </div>


        <label asp-for="ImageFile"></label>
        <input asp-for="ImageFile" type="file"> 

        @* <span asp-validation-for="ImageFile"></span> *@
@*         <div class="zmis">
            <label class="form-label" asp-for="PetObj.ImageSrc"> Zdroj obrázku: </label>
            <input class="form-control" asp-for="PetObj.ImageSrc">
        </div> *@
    </div>
    <div class="btnSub">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>


@section Styles {
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
}
