@model Pet

@{
    ViewData["Title"] = /* "[" + Model.Id + "]" + */ Model.Name + " edit";
}
<div class="titulEdit">
    <h2>@ViewData["Title"]</h2>
</div>

<form asp-action="Edit" method="post" class="petEdit">
    <div class="mb-3">
        <label class="form-label" asp-for="Name"> Name </label>
        <input class="form-control" asp-for="Name">

        <label class="form-label" asp-for="Birth"> Birth </label>
        <input class="form-control" asp-for="Birth">

        <label class="form-label" asp-for="Sex"> Sex </label>
        <input class="form-control" asp-for="Sex">

        <label class="form-label" asp-for="Info"> Info </label>
        <input class="form-control" asp-for="Info">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>


@section Styles {
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />

}
