@model Pet

@{
    ViewData["Title"] = /* "[" + Model.Id + "]" + */ Model.Name + " edit";
}
<div class="titulEdit">
    <h2>@ViewData["Title"]</h2>
</div>

<form asp-action="Edit" method="post" class="petEdit">
    <div class="mb-3">
        <label class="form-label" asp-for="Name"> Jméno: </label>
        <input class="form-control" asp-for="Name" required>

        <label class="form-label" asp-for="Birth"> Narození: </label>
        <input type="date" class="form-control" asp-for="Birth">

        <label class="form-label" asp-for="InShelterSince"> V utulku od: </label>
        <input type="date" class="form-control" asp-for="InShelterSince" required>

        <label class="form-label" asp-for="Sex"> Pohlaví: </label>
        <input class="form-control" asp-for="Sex">

        <label class="form-label" asp-for="Info"> Informace: </label>
        <input class="form-control" asp-for="Info">

        <label class="form-label" asp-for="BreedId"> Plemeno: </label>
        <select class="form-control" asp-for="BreedId" asp-items="@(new SelectList(ViewBag.Breeds, "Id", "Name"))"></select>

        <label class="form-label" asp-for="SizeId"> Velikost: </label>
        <select class="form-control" asp-for="SizeId" asp-items="@(new SelectList(ViewBag.Sizes, "Id", "Name"))"></select>


    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="ImageSrc"> Zdroj obrázku: </label>
        <input class="form-control" asp-for="ImageSrc">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>


@section Styles {
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />

}
