Folder for VS settings
.vs/

# Automatically created files on build
VanaKrizan.Utulek/VanaKrizan.Utulek.Application/bin
VanaKrizan.Utulek/VanaKrizan.Utulek.Application/obj
VanaKrizan.Utulek/VanaKrizan.Utulek.Domain/bin
VanaKrizan.Utulek/VanaKrizan.Utulek.Domain/obj
VanaKrizan.Utulek/VanaKrizan.Utulek.Infrastructure/bin
VanaKrizan.Utulek/VanaKrizan.Utulek.Infrastructure/obj
VanaKrizan.Utulek/VanaKrizan.Utulek.Tests/bin
VanaKrizan.Utulek/VanaKrizan.Utulek.Tests/obj
VanaKrizan.Utulek/VanaKrizan.Utulek.Web/bin
VanaKrizan.Utulek/VanaKrizan.Utulek.Web/obj

*.user
/VanaKrizan.Utulek/VanaKrizan.Utulek.Web/wwwroot/img/pets
