@model CarouselProductViewModel

@{
    ViewData["Title"] = "Útulek Zlín";
}

<div class="text-center peso">
    <h1 class="pozdrav">Vítejte</h1>
</div>

<section class="articles">
    <div class="row">
        <article class="main col-sm-3">
            <h3>WWF</h3>
            <p>The World Wide Fund for Nature (WWF) is an international organization working on issues regarding the conservation, research and restoration of the environment, formerly named the World Wildlife Fund. WWF was founded in 1961.</p>
        </article>

        <article class="main col-sm-3">
            <h3>WWF's Panda symbol</h3>
            <p>The World Wide Fund for Nature (WWF) is an international organization working on issues regarding the conservation, research and restoration of the environment, formerly named the World Wildlife Fund. WWF was founded in 1961.</p>
        </article>

        <article class="main col-sm-3">
            <h3>WWF</h3>
            <p>The World Wide Fund for Nature (WWF) is an international organization working on issues regarding the conservation, research and restoration of the environment, formerly named the World Wildlife Fund. WWF was founded in 1961.</p>
        </article>
    </div>
</section>


