
@{
    <div class="container">
        <section class="info">
            <div class="row">
                <div class="mazel">
                    <h2>Andy</h2>
                    <div class="zaklInfo">
                        <dl class="zaklad">
                            <fieldset>
                                <legend>Základní údaje</legend>
                                <dl>
                                    <dt class="hl">Velikost:</dt>
                                    <dd class="data">Střední</dd>
                                </dl>
                                <dl>
                                    <dt class="hl">Plemeno:</dt>
                                    <dd class="data">Kříženec labradora</dd>
                                </dl>
                                <dl>
                                    <dt class="hl">Stáří:</dt>
                                    <dd class="data">narozen 2013</dd>
                                </dl>
                                <dl>
                                    <dt class="hl">Pohlaví:</dt>
                                    <dd class="data">pes</dd>
                                </dl>
                                <dl>
                                    <dt class="hl">V útulku od:</dt>
                                    <dd class="data">26.5.2022</dd>
                                </dl>
                                <dl>
                                    <dt class="hl">Čip:</dt>
                                    <dd class="data">ano</dd>
                                </dl>
                            </fieldset>
                        </dl>
                    </div>
                    <div class="obr">
                        <img src="~/img/pets/Andy.jpg">
                    </div>
                    <div class="popis">
                        <p>Andy je kříženec labradora a border kolie. Má 9 let. Vyrůstal v rodině, kde se narodilo dítě a bohužel se stalo, že Andy na něho zavrčel a rodina se začala obávat. Byl zvyklý žít v bytě, chodili s ním na vycházky a zná i náhubek. Byl by možná vhodný do rodiny, kde by měl svůj klid a věděli, jak zvládat konfliktní situace. Je to ještě vitální psík, přijděte se na něho podívat na útulek…..</p>
                        <p>9/2022 Během pobytu u nás Andy výrazně zhubnul a trápí ho průjmy, již několikátý měsíc žere intestinální granule, zatím veškerá léčba nebyla úspěšná, váha někdy šla mírně nahoru, vzápětí však zase klesla… jako na houpačce. Koncem září podstoupil na klinice ve Slušovicích kompletní rozbor krve, RTG vyšetření, SONO dutiny břišní a ukázalo se, že jeho slezina je patologicky zvětšená, což potvrdil také krevní obraz. Doporučena byla případná operace ještě do konce roku – odstranění sleziny. Děkujeme za Vaši podporu, bez ní by to nešlo…. </p>
                    </div>
                    
                </div>
            </div>
        </section>
    </div>
}

@section Styles {
    <link rel="stylesheet" href="~/css/detail.css" asp-append-version="true" />
}
