
/***********************************************************************************************************************************************************************/


html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    padding-top: 110px;
    background-color: #3c373e;
}

.main {
    background-color: #3c373e;
    color: #212529;
}

h1 {
    width: 60%;
    margin: auto;
    text-align: center;
    margin-top: 2%;
}

.createPet {
    width: 60%;
    margin: auto;
    text-align: center;
    text-decoration: none;
}

    .createPet a {
        text-decoration: none;
    }

.tableAdmin {
    margin: auto; 
    margin-top: 2%;
    border-collapse: collapse;
    border-radius: 10px;
    width: 60%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color: #777;
}


.row {
    padding-bottom: 20px;
    padding-top: 20px;
}

.table-striped tbody tr:nth-of-type(2n+1) {
    color: #777;
}

table {
    color: #212529;
}

table td {
    padding: 0.75rem;
}


thead th {
    padding-bottom: 30px;
    border-top: none;
    border-bottom: none !important;
    color: #AAAAAA;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    padding: 0.75rem;
}


.n-entries {
    background: transparent;
    color: #AFA4AE;
    border-style:none;
}

.list-items {
    color: #D7D7D7;
}

tr:hover {
    color: rgb(255, 255, 255);
}

.nazev {
    margin-top: 4rem;
    margin-bottom: 4rem;
    color: #AFA4AE;
}
/********************************************************************************************************************************************************/
.choose{
    width:60%;
    margin:auto;
}

.titulpridani {
    width: 60%;
    margin: auto;
    text-align: center;
}

.titulpridani h2 {
    margin-top: 4%;
}
/********************************************************************************************************************************************************/
.pridaniPeso {
    width: 60%;
    margin: auto;
}

.titulPeso {
    width: 60%;
    margin: auto;
    text-align: center;
}

.titulPeso h2 {
    margin-top: 4%;
}
/***************************************/
.pridaniKocka {
    width: 60%;
    margin: auto;
}

.titulKocka {
    width: 60%;
    margin: auto;
    text-align: center;
}

    .titulKocka h2 {
        margin-top: 4%;
    }
/***************************************/
.petEdit {
    width: 60%;
    margin: auto;
}

.titulEdit {
    width: 60%;
    margin: auto;
    text-align: center;
}

.titulEdit h2 {
    margin-top: 4%;
}


/***************************Index*******************************/
:root {
    --primary-color: #D7D7D7;
    /*--secondary-color: rgb(61, 68, 73);*/
    --highlight-color: #3282b8;
    --dt-status-available-color: greenyellow;
    --dt-status-away-color: lightsalmon;
    --dt-status-offline-color: lightgray;
    --dt-padding: 12px;
    --dt-padding-s: 6px;
    --dt-padding-xs: 2px;
    --dt-border-radius: 3px;
    /*--dt-background-color-container: #2a3338;*/
    --dt-border-color: var(--secondary-color);
    --dt-bg-color: var(--highlight-color);
    --dt-text-color: var(--primary-color);
    --dt-bg-active-button: var(--highlight-color);
    --dt-text-color-button: var(--primary-color);
    --dt-text-color-active-button: var(--primary-color);
    --dt-hover-cell-color: var(--highlight-color);
    /*--dt-even-row-color: var(--secondary-color);*/
    --dt-focus-color: var(--highlight-color);
    --dt-input-background-color: var(--secondary-color);
    --dt-input-color: var(--primary-color);
}

.material-icons {
    font-size: 16px;
    padding-top: 5px;
}

.ikony img {
    width: 20px;
    height: auto;
    margin: auto;
}

.datatable-container-pet {
    font-family: sans-serif;
    background-color: var(--dt-background-color-container);
    border-radius: var(--dt-border-radius);
    color: var(--dt-text-color);
    max-width: 1140px;
    /*min-width: 950px;*/
    margin: 0 auto;
    font-size: 14px;
    margin-bottom:4rem;
    margin-top:2rem;
}

.datatable-container-pet .header-tools {
    border-bottom: solid 1px var(--dt-border-color);
    padding: var(--dt-padding);
    padding-left: 0;
    display: flex;
    align-items: baseline;
}

.datatable-container-pet .header-tools {
    width: 30%;
}

.datatable-container-pet .header-tools {
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px + 1rem);
    padding: 0.375rem 0.75rem;
    background-color: var(--dt-input-background-color);
    display: block;
    box-sizing: border-box;
    border-radius: var(--dt-border-radius);
    border: solid 1px var(--dt-border-color);
    color: var(--dt-input-color);
}

.datatable-container-pet .header-tools .tools {
    width: 70%;
}

.datatable-container-pet .header-tools .tools ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: start;
    align-items: baseline;
}

.datatable-container-pet .header-tools .tools ul li {
    display: inline-block;
    margin: 0 var(--dt-padding-xs);
    align-items: baseline;
}

.datatable-container-pet .footer-tools {
    padding: var(--dt-padding);
    display: flex;
    align-items: baseline;
}

.datatable-container-pet .footer-tools .list-items {
    width: 50%;
}

.datatable-container-pet .footer-tools .pages {
    margin-left: auto;
    margin-right: 0;
    width: 50%;
}

.datatable-container-pet .footer-tools .pages ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
}

.datatable-container-pet .footer-tools .pages ul li {
    display: inline-block;
    margin: 0 var(--dt-padding-xs);
}

.datatable-container-pet .footer-tools .pages ul li button,
.datatable-container-pet .header-tools .tools ul li button {
    color: var(--dt-text-color-button);
    width: 100%;
    box-sizing: border-box;
    border: 0;
    border-radius: var(--dt-border-radius);
    background: transparent;
    cursor: pointer;
}

.datatable-container-pet .footer-tools .pages ul li button:hover,
.datatable-container-pet .header-tools .tools ul li button:hover {
    background: var(--dt-bg-active-button);
    color: var(--dt-text-color-active-button);
}

    .datatable-container-pet .footer-tools .pages ul li span.active {
        background-color: #9a8c98;
        border-radius: var(--dt-border-radius);
    }

    .datatable-container-pet .footer-tools .pages ul li button,
    .datatable-container-pet .footer-tools .pages ul li span,
    .datatable-container-pet .header-tools .tools ul li button {
        padding: var(--dt-padding-s) var(--dt-padding);
    }

    .datatable-container-pet .datatable-pet {
        border-collapse: collapse;
        width: 100%;
    }

.datatable-container-pet .datatable-pet,
.datatable-container-pet .datatable-pet th,
.datatable-container-pet .datatable-pet td {
    padding: var(--dt-padding) var(--dt-padding);
}

.datatable-container-pet .datatable-pet th {
    font-weight: bolder;
    text-align: left;
    border-bottom: solid 1px var(--dt-border-color);
}

.datatable-container-pet .datatable-pet td {
    border-bottom: solid 1px var(--dt-border-color);
}

    .datatable-container-pet .datatable-pet tbody tr:nth-child(even) {
        background-color: var(--dt-even-row-color);
    }
    /*tady  */
    .datatable-container-pet .datatable-pet tbody tr:hover {
        /*background-color: #4C474C;*/
        /*background-color: #393539;*/
        /*background-color: #2A2729;*/
        color: white;
        td, th{
        color: white;
    }

    }

.datatable-container-pet .datatable-pet tbody tr .available::after,
.datatable-container-pet .datatable-pet tbody tr .away::after,
.datatable-container-pet .datatable-pet tbody tr .offline::after {
    display: inline-block;
    vertical-align: middle;
}

.datatable-container-pet .datatable-pet tbody tr .available::after {
    content: "Online";
    color: var(--dt-status-available-color);
}

.datatable-container-pet .datatable-pet tbody tr .away::after {
    content: "Away";
    color: var(--dt-status-away-color);
}

.datatable-container-pet .datatable-pet tbody tr .offline::after {
    content: "Offline";
    color: var(--dt-status-offline-color);
}

.datatable-container-pet .datatable-pet tbody tr .available::before,
.datatable-container-pet .datatable-pet tbody tr .away::before,
.datatable-container-pet .datatable-pet tbody tr .offline::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border-radius: 50%;
    vertical-align: middle;
}

.datatable-container-pet .datatable-pet tbody tr .available::before {
    background-color: var(--dt-status-available-color);
}

.datatable-container-pet .datatable-pet tbody tr .away::before {
    background-color: var(--dt-status-away-color);
}

.datatable-container-pet .datatable-pet tbody tr .offline::before {
    background-color: var(--dt-status-offline-color);
}

/*******************Resp Index**************/
@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
    }

        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

    tr {
        margin: 0 0 1rem 0;
    }

    .ikony img {
        width: 20px;
        height: auto;
        white-space: nowrap;
    }


    table td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
    }

    .datatable-container-pet .datatable-pet,
    .datatable-container-pet .datatable-pet th,
    .datatable-container-pet .datatable-pet td {
        padding: var(--dt-padding) var(--dt-padding);
        .pad{
        text-align:left;
    }
}

        td:before {
            top: 0;
            left: 6px;
            white-space: nowrap;
            width:50%
        }

.user {
    td: nth-of-type(0):before
    {
        content: "ID";
    }

    td:nth-of-type(1):before {
        content: "USERNAME   ";
        padding-right: 71px; /*31*/
    }

    td:nth-of-type(2):before {
        content: "FIRSTNAME  ";
        padding-right: 70px;
    }

    td:nth-of-type(3):before {
        content: "LASTNAME   ";
        padding-right: 75px;
    }

    td:nth-of-type(4):before {
        content: "EMAIL      ";
        padding-right: 108px;
    }

    td:nth-of-type(5):before {
        content: "PHONENUMBER";
        padding-right: 40px;
    }

}

.petind {
    td: nth-of-type(0):before
    {
        content: "ID";
    }

    td:nth-of-type(1):before {
        content: "NAME";
        padding-right: 125px; /*40*/
    }

    td:nth-of-type(2):before {
        content: "SEX";
        padding-right: 139px;
    }

    td:nth-of-type(3):before {
        content: "BIRTH";
        padding-right: 125px;
    }

    td:nth-of-type(4):before {
        content: "IN SHELTER SINCE";
        padding-right: 40px;
    }

}

.breed {
    td: nth-of-type(0):before
    {
        content: "ID";
    }

    td:nth-of-type(1):before {
        content: "NAME";
        padding-right: 40px; /*40*/
    }

}


}

/*********************************UserPets****************************************************************************************************************************************/
.inputy select {
    border: none;
    padding: 15px 20px;
    border-radius: 25px;
    background: rgba(255,255,255,.1);
    color: #777;
}

.inputy select:focus {
    color: black;
    background: rgba(255,255,255,.3);
    border: 0px solid;
    outline: none;
    box-shadow: none;
}

.sel {
    appearance: none;
    outline: 10px red;
    border: 0;
    box-shadow: none;
     Personalize 
    flex: 1;
    padding: 0 1em;
    color: #f39c12;
    background-image: none;
    background-color: #3c373e;
    cursor: pointer;
    border-radius: 25px;
    &::-ms-expand
    {
        display: none;
    }
    &:focus {
        outline: none;
    }

    option {
        color: inherit;
        border: 0px solid;
        background-color: #948c96;
    }
}

.down{
    margin-bottom:4rem;
}
/************************EditUser*************************************************************************************************************************************************/
.inputy input {
    border: none;
    padding: 15px 20px;
    border-radius: 25px;
    background: rgba(255,255,255,.1);
    color: #777;
}

    .inputy input:focus {
        color: black;
        background: rgba(255,255,255,.3);
        border: 0px solid;
        outline: none;
        box-shadow:none;
    }

.inputy label {
    color: #AAAAAA;
    padding-top: 10px;
}


.titulEdit {
    color: #AFA4AE;
}

.cbx label {
    color: #AAAAAA;
    padding-left:10px;
}


.check {
    margin-bottom: 40px;
}

.btnSub button {
    color: #454545;
    background: #D2A400;
    border: none;
}

    .btnSub button:focus {
        border: none;
        outline: none;
        box-shadow: none;
    }

/**********************Checkbox*******************/
.customCheckBoxHolder {
    margin: 5px;
    display: flex;
    padding-bottom:15px;
}

.customCheckBox {
    width: fit-content;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
    padding: 2px 8px;
    background-color: rgba(0, 0, 0, 0.16);
    border-radius: 0px;
    color: rgba(255, 255, 255, 0.7);
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 300ms;
    transition-property: color, background-color, box-shadow;
    display: flex;
    height: 32px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 1px 0px inset, rgba(255, 255, 255, 0.17) 0px 1px 1px 0px;
    outline: none;
    justify-content: center;
    min-width: 55px;
}

    .customCheckBox:hover {
        background-color: rgba(0, 0, 0, 0.17);
        color: white;
        box-shadow: rgba(0, 0, 0, 0.23) 0px -4px 1px 0px inset, rgba(255, 255, 255, 0.17) 0px -1px 1px 0px, rgba(0, 0, 0, 0.17) 0px 2px 4px 1px;
    }

    .customCheckBox .inner {
        font-size: 18px;
        font-weight: 900;
        pointer-events: none;
        transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
        transition-duration: 300ms;
        transition-property: transform;
        transform: translateY(0px);
    }

    .customCheckBox:hover .inner {
        transform: translateY(-2px);
    }

/* Multiple Checkboxes can be chained together for a radio input */
.customCheckBoxWrapper:first-of-type .customCheckBox {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-right: 0px;
}

.customCheckBoxWrapper:last-of-type .customCheckBox {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-left: 0px;
}

.customCheckBoxInput {
    display: none;
}

    .customCheckBoxInput:checked + .customCheckBoxWrapper .customCheckBox {
        background-color: #373138;
        color: white;
        box-shadow: rgba(0, 0, 0, 0.23) 0px -4px 1px 0px inset, rgba(255, 255, 255, 0.17) 0px -1px 1px 0px, rgba(0, 0, 0, 0.17) 0px 2px 4px 1px;
    }

        .customCheckBoxInput:checked + .customCheckBoxWrapper .customCheckBox .inner {
            transform: translateY(-2px);
        }

        .customCheckBoxInput:checked + .customCheckBoxWrapper .customCheckBox:hover {
            background-color: #D2A400;
            box-shadow: rgba(0, 0, 0, 0.26) 0px -4px 1px 0px inset, rgba(255, 255, 255, 0.17) 0px -1px 1px 0px, rgba(0, 0, 0, 0.15) 0px 3px 6px 2px;
        }

.customCheckBoxWrapper .customCheckBox:hover .inner {
    transform: translateY(-2px);
}

/***************************************************************Edit Pet*************************************************************************/
.inobr {
    margin-top: 10px;
    background-color: transparent;
}

.inobr input {
    background-color: transparent;
    border: none;
}

.inputy input .zmis {
    background-color: transparent;
}

.zmis {
    background-color: transparent;
}

label,
textarea {
    font-size: 0.8rem;
    letter-spacing: 1px;

}

textarea {
    padding: 10px;
    max-width: 100%;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

label {
    display: block;
    margin-bottom: 10px;
}


.textar {
    border-radius: 25px;
    background: rgba(255,255,255,.1);
    color: #777;
    /*overflow: auto;*/
    overflow: hidden;
    border: none;
    outline: none;
    border-style: none;
    border-color: Transparent;
}

/************************************Create Breed*************************************/
.odsad{
    margin-bottom:12rem;
}