@model Breed

@{
    ViewData["Title"] = /* "[" + Model.Id + "]" + */ Model.Name + " edit";
}
<div class="titulEdit">
    <h2>@ViewData["Title"]</h2>
</div>

<form asp-action="Edit" method="post" class="petEdit" enctype="multipart/form-data" id="form">
    <div class="mb-3 inputy">
        <label class="form-label" asp-for="Name"> Name </label>
        <input class="form-control" asp-for="Name">
    </div>

    <div class="btnSub">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>


@section Styles {
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
}
