@model Dog

@{
    ViewData["Title"] = "Přidat pesa";
}

<div class="titulPeso">
    <h2>@ViewData["Title"]</h2>
</div>


<form asp-action="CreateDog" method="post" class="pridaniPeso">
    <div class="mb-3">
        <label class="form-label" asp-for="Name"> Name </label>
        <input class="form-control" asp-for="Name">

        <label class="form-label" asp-for="Birth"> Birth </label>
        <input class="form-control" asp-for="Birth">

        <label class="form-label" asp-for="Sex"> Sex </label>
        <input class="form-control" asp-for="Sex">

        <label class="form-label" asp-for="Info"> Info </label>
        <input class="form-control" asp-for="Info">

        <label class="form-label" asp-for="SizeId"> Velikost </label>
        <input class="form-control" asp-for="SizeId">

    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@section Styles {
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />

}