<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/VanaKrizan.Utulek.Web.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container headercon">
                <div class="logo col-sm-7">
                    <a class="navbar-brand" asp-area="" asp-page="/Index">Logo útulek</a>
                    <div class="floatL">
                        <h2>Útulek pro zvířata v nouzi Zlín Vršava</h2>
                    </div>
                    @*<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>*@
                </div>
                <div class="navigace col-sm-5">
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Index">Domů</a>
                            </li>
                           @*  <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Virtuální adopce</a>
                            </li> *@
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="admin" asp-controller="Pet" asp-action="Index">Mazlíčci</a> @*+virtuální adopce + ztráty a nálezy*@
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Aktuality</a>
                            </li>
                            @* <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Ztráty a nálezy</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Kontakt</a>
                            </li> *@
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Informace</a> @*+kontakt*@
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Má adopce</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Přihlásit se</a>
                            </li>
                        </ul>
                    </div>
                </div> @*sticky*@
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container allFooter">
            <div class="row footerText">
                <article class="col-sm-3">
                    <h4>Útulek pro zvířata v nouzi ve Zlíně</h4>
                    <p>Útulek je situován nedaleko zastavěné části Zlína a je přístupný městskou hromadnou dopravou. Kapacita útulku umožňuje umístit zde až 80 psů a 40 koček.</p>
                </article>

                <article class="col-sm-3">
                    <h4>Chcete být pravidelně informování?</h4>
                    <p>Zadejte váš e-mail a my vás zařadíme do našeho newsletteru.</p>
                </article>

                <article class="col-sm-3">
                    <h4>Kontaktní údaje</h4>
                    <p>Útulek pro zvířata v nouzi Vršava</p>
                    <div class="nopad"><p>Mezilesí 628</p><p>763 14 Zlín-Kostelec</p></div>
                    <p>Tel.: +420 577 244 444</p>
                    <p>E-mail: utulekzlin@utulekzlin.cz</p>
                </article>
            </div>
            &copy; 2023 - VanaKrizan.Utulek.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
